.temp-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
  position: sticky;
  background: var(--background);
  top: 0;

  & .temp-bar-icon-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 80px;
    overflow: hidden;

    & .lte, .battery {
      position: absolute;
      left: 20px;
    }
    & .battery {
      left: 50px;
    }
  }
}


.login--logo-container{
  display: flex;
  flex-direction: column;
  text-align: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 10px));

  & h2 {
    color: var(--primary, #373F67);
  }

  & p {
    margin: 0;
    color: var(--primary, #373F67);
  }
}

.login--step-next-container{
  position: fixed; /* 또는 position: absolute; */
  bottom: 5rem; /* 하단에 위치 */
  left: 0; /* 왼쪽 정렬 (필요에 따라 조정) */
  right: 0; /* 오른쪽 정렬 (필요에 따라 조정) */
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;


  & .register{
    text-decoration: none;
    color: #FFF;
    display: inline-flex;
    padding: 8px 126px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: var(--primary, #373F67);
  }
  & .login{ 
    text-decoration: none;
    color: var(--Contents-contentSecondary, #919191);

  }
  & span {
    color: var(--primary, #373F67);

  }
}


