.login--container{
  /* max-width: 599px;
  margin: 0 auto; */
  /* padding-bottom: 68px; */
  height: 100vh;
  /* background-color: gray; */
}

.login--logo-container{
  /* background-color: pink; */
  display: flex;
  position: fixed;
  text-align: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 4px));
  /* background-color: pink; */
  
  & img {
    width: 5.5rem;
    max-width: 125px;
    padding-bottom: 5px;
    /* background-color: pink; */
  }

  & h2 {
    color: var(--primary, #373F67);
    font-weight: 700;
    white-space: nowrap;
    padding-bottom: 0.625rem;
  }

  & p {
    /* background-color: yellow; */
    margin: 0;
    line-height: 160%;
    color: var(--primary, #373F67);
    white-space: nowrap; 
  }
}

.login--step-next-container{
  left: 0; 
  right: 0;
  gap: 1.5rem;
  bottom: 1rem; 
  display: flex;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;

/* 시작하기 */
  & a:nth-child(1) {
    width: 18.75rem;
    color: #FFF;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    padding: 0.563rem 7.875rem;
    background: var(--primary, #373F67);
  }
/* 로그인으로 이동 */
  & a:nth-child(2) { 
    line-height: 160%;
    text-decoration: none;
    color: var(--Contents-contentSecondary, #919191);
  }
  
  & span {
    font-weight: 600;
    margin-left: 1rem;
    color: var(--primary, #373F67);
  }
}


