.login--signup-container {
  max-width: 599px;
  margin: 0 auto;
  padding: 0 20px;

  & a:nth-child(1){
    padding: 10px ;
  }
}
.login--signup-title{
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;

  & p{
    padding-top: 20px;
  }
}
.login--signup-subtitle{
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
  padding: 10px 0;
}

.login--signup-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;

  & form{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
  }
  & form > input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    padding: 12px 12px;
    margin-bottom: 15px;
    margin-top: 20px;
    border: 0.5px solid black;
  }
  & form > button {
    width: 100%;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    color: var(--Contents-contentSecondary, #919191);
    border: 0.5px solid var(--Contents-contentSecondary, #919191);
  }
}

.login--signup-email{
  font-size: 10.503px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  & span {
    text-decoration: underline;
  }
}

