.app {
  max-width: 599px;
  margin: 0 auto;

  & .Main-visual > img {
    width: 100%;
  }

  & .Main-main {
    & .user-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      & .user-name-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
        gap: 4px;

        & .user-profile {
          width: 40px;
          border-radius: 50px;
        }
        & .user-info-detail {
          display: flex;
          flex-flow: column nowrap;
          gap: 4px;

          & .user-name {
            font-size: 14px;
            font-weight: 600;
          }

          & .user-location {
            font-size: 10.503px;
            font-weight: 400;
          }
        }
      }

      & .user-temper-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: end;
        gap: 4px;

        & .flex-container {
          display: flex;
          gap: 4px;
          justify-content: center;
          align-items: center;
          & .user-temp {
            font-size: 14px;
            font-weight: 600;
            color: var(--secondary);
          }

          & .user-temp-emoji {
            font-size: 23px;
          }
        }

        & > span {
          font-size: 10.503px;
          font-weight: 400;
          color: var(--Contents-contentSecondary);
        }
      }
    }

    & .main-content {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-flow: column nowrap;
      padding: 12px;
      gap: 13px;

      & > div {
        display: flex;
        flex-flow: column nowrap;
        gap: 8px;

        & > h1 {
          font-size: 18.662px;
          font-weight: 600;
          color: black;
          padding: 0;
        }

        & > div {
          font-size: 10.503px;
          color: var(--Contents-contentSecondary);
        }
      }

      & > p {
        line-height: 1.6;
        padding-bottom: 40px;
      }
    }

    & .function-bar {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 12px 12px 38px 12px;

      & > div {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 13px;

        & > img {
          width: 20px;
        }

        & > div {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: start;
          border-left: 1px solid var(--Contents-contentSecondary);
          padding-left: 13px;
          gap: 4px;

          & > span:nth-child(1) {
            font-size: 14px;
            font-weight: 600;
          }

          & > span:nth-child(2) {
            font-size: 10.503px;
            font-weight: 400;
            color: var(--secondary);
          }
        }
      }

      & > button {
        border: 0;
        background-color: var(--secondary);
        color: var(--background);
        padding: 8px 14px;
        border-radius: 8px;
      }
    }
  }

  & footer {
    padding: 14px;

    border-top: 1px solid var(--Contents-contentSecondary);

    & > h2 {
      font-size: 14px;
      font-weight: 600;
      margin: 0;
      padding-bottom: 12px;
    }

    & > ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      column-gap: 16px;
      row-gap: 20px;
      padding-top: 4px;

      & > li {
        & > a {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: start;
          gap: 4px;

          & > span:nth-child(2) {
            margin-top: 8px;
            font-size: 10.503px;
            font-weight: 400;
          }

          & > span:nth-child(3) {
            font-size: 10.503px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
