


.board--together-category {
  overflow: hidden;

  & ul {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    padding: 8px 20px;
    gap: 12px;
    display: flex;
    align-items: flex-start;
    gap: 12px;

    & li {


      & figure {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 6px;
      }
      & button {
        color: var(--gray-100, #E9E9E9);
        text-align: center;
        font-size: 22px;
        border: none;
        height: 60px;
        width: 60px;
        border-radius: 50px;
        background: var(--gray-100, #E9E9E9);
        display: flex;
        padding: 12px 16px;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.board--together-filter {
  display: flex;
  padding: 12px 14px;
  gap: 7px;


  & select {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    font-size: 10px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--Contents-contentTertiary, #9DA1B4);
    background: var(--background, #FFF);
  }

  & button {
    display: flex;
    padding: 6px 26px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid var(--Contents-contentTertiary, #9DA1B4);
    background: var(--background, #FFF);
  }
}

.board--together-content {
  display: flex;
  padding: 12px 13px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border: 0.3px solid var(--Contents-contentTertiary, #9DA1B4);
  background: var(--background, #FFF);

  & section {
    display: flex;
    color: #919191;
    gap: 4px;

  }

  & figure {
    display: flex;
  }
}