<!doctype html>
<html lang="ko-KR">
  <head>
    <title>Vite Pure css</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <link rel="stylesheet" href="/src/styles/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/main.js"></script>
    <script
      type="module"
      src="/src/pages/UserPage/children_pages/profileModify/Components/profileSaved.js"
    ></script>
  </head>
  <body>
    <div class="profile--modify-save-alert">
      <h2>저장완료!</h2>
      <p>
        내 질문&답변의 프로필 카드, 프로필 홈에서 변경된 프로필 정보를 확인 할
        수 있어요.
      </p>
      <button>확인</button>
    </div>
  </body>
</html>
