/* ----------- 해당 항목들은 항상 상단에 위치시키기 ----------- */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url(/src/styles/reset.css);
@import url(/src/styles/font.css);
/* ---------------------------------------------------------- */

/* ----------- 페이지별 css 폴더 여기에 import 하기 ----------- */

@import url(/src/pages/BoardPage/board.css);
@import url(/src/pages/MainPage/main.css);
@import url(/src/pages/StartPage/start.css);
@import url(/src/pages/LoginPage/category/category.css);

/* ---------------------------------------------------------- */

/* 변수 선언 */
:root {
  /* foundation color */
  --primary: #373f67;
  --secondary: #5a85ee;
  --tertiary: #719cf7;
  --negative: #e11900;
  --background: #ffffff;

  /* content color */
  --Contents-contentPrimary: black;
  --Contents-contentSecondary: #919191;
  --Contents-contentTertiary: #9da1b4;
}

/* ------ 페이지 기본 구성 네비게이션 바 ------ */

/* 핸드폰 상태바 */
.temp-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
  position: sticky;
  background: var(--background);
  top: 0;

  & .temp-bar-icon-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 80px;
    overflow: hidden;

    & .lte,
    .battery {
      position: absolute;
      left: 20px;
    }
    & .battery {
      left: 50px;
    }
  }
}

/* 상단 네비게이션 바 */
.top-bar-container {
  display: flex;
  padding: 6px 20px;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  border-bottom: 1px solid var(--gray-200, #d3d3d3);
  background: var(--background, #fff);
  position: sticky;
  top: 0;
  z-index: 100;

  & .top-bar-buttons {
    display: flex;
    gap: 7px;

    & button {
      width: 26px;
      height: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: none;
    }
  }
}

/* 하단 네비게이션 바 */
.bottom-bar-container {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  max-width: inherit;
  -webkit-box-shadow: 0px 7px 19px 11px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 7px 19px 11px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 7px 19px 11px rgba(0, 0, 0, 0.32);
  z-index: 100;
  background: var(--background);

  & ul {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px 24px 12px;

    & a {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}
