button, input{
  background: none;      
  border: none;          
  padding: 0;            
  margin: 0;             
  outline: none;         
  text-decoration: none; 
  cursor: pointer;        
}

body{
  margin: 0 auto;
  max-width: 599px;
}

.login--top-bar{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#categorySearch {
  border-bottom: 1px solid black;
  background-image: url('/src/assets/icons/login/search.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position:0 center;
  padding-left: 25px;
  box-sizing: border-box;
  font-size: 16px;
  width: 75vw;
  max-width: 545px;
  height: 35px;
}

 h1{
  color: var(--primary, #373F67);
  font-weight: 700;
  line-height: 140%;
  font-size: 20px;
  padding: 10px 30px;
}

.login--category-wrapper{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 110px;

  & button[type="submit"] {
    width: 85%;
    max-width: 570px;
    color: #fff;
    padding: 10px 100px;
    border-radius: 8px;
    white-space: nowrap;
    justify-content: center;
    background: var(--primary, #373F67);
  }
}
/* 카테고리 리스트 */
.login--category-list {
  display: grid;
  /* place-items: center; */
  grid-template-columns: repeat(2,minmax(0,1fr));
  margin-top: 10px;

   & button {
    min-width: 160px;
    max-width: 275px;
    width: 25vw;
    height: 4.2rem;
    padding: 10px;
    margin: 10px 5px;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    background: var(--gray-400, #A7A7A7);
    transition: all 0.2s;
  
      & .login--category-name{
      padding: 3px;
      white-space: nowrap;
      text-align: start;
      }
      & img{
        width: 7vw;
        max-width: 30px;
        padding-right: 5px;
        padding-top: 10px;
      }
    }
}

.login--category-submit {
  position: fixed;
  bottom: 50px;
  font-size: 16px;
  z-index: 10;
}

.login--category-card p:nth-child(1){
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 3px;
  color: var(--gray-100, #E9E9E9);
  }
.login--category-card:focus-visible{
  background: var(--primary, #373F67);
  & p{
    color: white;
  }
}
.login--category-card:hover{
  background: var(--primary, #373F67); 
  }
/* .login--category-card:active{
  background: var(--primary, #373F67);
} */
.login--category-card:hover .paragraph-s,
.login--category-card:hover .heading-s {
    color: white;
}

.login--category-card.active-card {
  background-color: #373F67; 
}

.active-card .login--category-main,
.active-card .login--category-sub {
    color: white; 
}

/* .active-card img {
    src: '/src/assets/icons/login/check.svg'; 
} */



