.hidden {
  display: none;
}
button, input{
  background: none;      
  border: none;          
  padding: 0;            
  margin: 0;             
  outline: none;         
  text-decoration: none; 
  cursor: pointer;        
}
.login--top-bar{
  padding: 20px;
}
.login--category-wrapper{
  /* margin: 0 auto; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  & h1 {
    color: var(--primary, #373F67);
    font-weight: 700;
    line-height: 140%;
    padding: 20px;
    /* text-align: left; */
  }

  & ul {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap:2rem ;
    margin: 2.5rem;
  } 

 & button {
    width: 300px;
    color: #fff;
    padding: 10px 100px;
    border-radius: 8px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: var(--primary, #373F67);
  }
}


.login--category-submit {
  width: 300px;
  position: fixed;
  bottom: 50px;
  font-size: 16px;
  z-index: 10;
}

.login--category-search > input {
  width: 254px;
  height: 29px;
  font-weight: 400;
  line-height: 160%;
  margin: 20px;
  border-bottom: #373F67;
  /* background-color: palevioletred; */
}

/* .login--category-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 10px; 
  list-style: none; 
  padding: 0; 
  margin-top: 13px;
  margin-bottom: 13px;
} */

.login--category-card{
    width: 140px;
    height: 50px;
    padding: 10px;
    margin: 10px 5px;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    background: var(--gray-400, #A7A7A7);

    & .login--category-name{
    padding: 2px;
    }
    & p:nth-child(1){
      font-weight: 600;
      line-height: 150%;
      padding-bottom: 3px;
      color: var(--gray-100, #E9E9E9);
    }
    & img{
      width: 18px;
      padding-right: 5px;
    }
  }

 