@import url(/src/pages/MainPage/children_pages/search/search.css);
@import url(/src/pages/MainPage/children_pages/detail/detail.css);

.app {
  /* max-width: 599px;
  margin: 0 auto; */

  & .loading {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 1200;
    overflow: hidden;

    & > div:nth-child(1) {
      position: absolute;
      left: 50%;
      top: 15%;
      font-size: var(--font-l);
      transform: translate(-50%);
      color: var(--primary);
    }

    & .loading-bar {
      position: absolute;
      background-color: var(--Contents-contentSecondary);
      width: 50%;
      height: 10px;
      left: 50%;
      transform: translate(-50%);
      top: 20%;
      border-radius: 5px;
      overflow: hidden;

      & > div {
        height: 100%;
        background-color: var(--secondary);
        width: 0px;
      }
    }

    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0 auto;
      width: 300px;
    }
  }

  & .top-bar-container {
    z-index: 1000;
  }

  & .loading.active {
    display: block;
  }
}

.main--contents {
  position: relative;
  padding-bottom: 100px;

  & .main--banner {
    position: fixed;
    max-width: 599px;
    width: 100%;
    color: var(--background);
    background-color: var(--Contents-contentTertiary);

    & .swiper-button-prev {
      color: black;
      transform: scale(0.8);
    }

    & .swiper-button-next {
      color: black;
      transform: scale(0.8);
    }

    & .main--banner-container {
      position: relative;
      padding: 1.25rem;
      margin-bottom: 2.8125rem;

      & h3 {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;
        font-size: var(--font-l);

        & strong {
          color: var(--primary);
          font-weight: 600;
        }

        & a {
          color: var(--background);
          font-size: var(--font-s);
          font-weight: 400;
        }
      }

      & > div {
        margin-top: 3.625rem;

        & svg {
          vertical-align: middle;
        }
      }
      & .banner1 {
        position: absolute;
        right: -200px;
        bottom: -160px;
        transform: scale(0.5);
      }

      & .banner2 {
        position: absolute;
        right: -100px;
        bottom: -170px;
        transform: scale(0.4);
      }

      & .banner3 {
        position: absolute;
        right: -80px;
        bottom: -140px;
        transform: scale(0.45);
        border-radius: 50%;
      }
    }
  }

  & .Main-scroll-area {
    position: absolute;
    top: 220px;
    width: 100%;
    padding-bottom: 100px;

    & .Main-menu-bar.fixed {
      position: fixed;
      width: 100%;
      max-width: 599px;
      top: -2px;
      z-index: 10;
    }

    & .Main-menu-bar {
      position: relative;
      background: var(--primary);
      padding: 0.5rem;
      font-size: var(--font-m);

      & .Main-menu-list {
        display: flex;
        justify-content: space-around;
        color: var(--Contents-contentTertiary);
        cursor: pointer;

        & .isActive {
          color: var(--background);
        }
      }
    }

    & .main--story-board {
      display: none;
      grid-template-columns: repeat(2, 1fr);
      place-items: center;
      row-gap: 1.75rem;
      padding: 0.75rem 0;

      & li {
        width: 8.625rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        gap: 0.75rem;
        font-size: 0.6564375rem;

        & a {
          & figure {
            & img {
              border-radius: 4px;
              width: 138px;
              height: 104px;
            }
          }
        }

        & figcaption {
          display: flex;
          flex-flow: column nowrap;
          gap: 0.25rem;

          & div:nth-child(1) {
            line-height: 1.3;
          }

          & div:nth-child(2) {
            color: var(--Contents-contentSecondary);
            font-weight: 400;
          }
        }
      }
    }

    & .main--story-board.isActive {
      display: grid;
    }

    & .Main-exchange {
      display: none;
      flex-flow: column nowrap;
      justify-content: center;
      padding-bottom: 30px;

      & .Main-button-list {
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: end;
        gap: 12px;
        right: 12px;
        bottom: 80px;
        z-index: 10;
        border: 0;

        & .main--active-button-list {
          display: none;

          & li {
            display: flex;
            align-self: stretch;
            border: 0;
            background-color: var(--primary);
            border-radius: 12px;

            & a {
              padding: 10px 20px;
              border: 0;
              color: var(--background);
              font-size: 14px;
              font-weight: 600;
            }
          }
        }

        & .main--active-button-list.isActive {
          display: flex;
          flex-flow: column nowrap;
          align-items: start;
          gap: 4px;
          opacity: 100;
        }

        & .Main-plus-button {
          display: flex;
          padding: 12px;
          justify-content: center;
          align-items: center;
          gap: 4px;
          right: 12px;
          bottom: 12px;
          border: 0;
          border-radius: 50px;
          background: var(--primary);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          z-index: 10;
        }

        & .Main-plus-button.isActive {
          background-color: white;
        }
      }

      & li {
        & a {
          display: flex;
          flex-flow: row nowrap;
          gap: 0.75rem;
          padding: 0.75rem;
          border-bottom: 1px solid var(--gray-200, #d3d3d3);

          & figure {
            & img {
              width: 90px;
              height: 90px;
            }
          }

          & figcaption {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;

            & > div:nth-child(1) {
              font-size: 0.875rem;
              line-height: 1.2;
            }

            & > div:nth-child(2) {
              color: var(--Contents-contentTertiary, #9da1b4);
              font-size: 0.6564375rem;
            }

            & div:nth-child(3) {
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 0.5rem;

              & > span:nth-child(1) {
                display: none;
              }

              & > span:nth-child(1).book {
                display: inline;
                padding: 0.35rem 0.3rem;
                border-radius: 0.25rem;
                background: var(--tertiary);
                color: var(--background);
                font-size: 0.6564375rem;
              }

              & span:nth-child(1).done {
                display: inline;
                padding: 0.35rem 0.3rem;
                border-radius: 0.25rem;
                background: var(--Contents-contentTertiary);
                color: var(--background);
                font-size: 0.6564375rem;
              }
            }
          }
        }

        & > div {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          bottom: 6px;
          right: 15px;
          font-size: 0.8rem;

          & button {
            border: 0;
            background: transparent;
            padding: 0;
            transform: translate(-1px, 1px);
          }
        }
      }
    }

    & .Main-exchange.isActive {
      display: flex;
    }

    & .Main-list-container {
      background: var(--background);
    }
  }
}
