@import url('./children_pages/profileModify/profileModify.css');
@import url('./children_pages/profileCard/profileCard.css');

/* .app {
  height: 100%;
} */
.user--profile-menu {
  width: 100%;
  display: flex;
  padding: 42px 31px 18px 31px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  & figure {
    text-align: center;
    .user--profile-picture-wrapper {
      padding: 0;
      position: relative;
      width: 68px;
      height: 66px;
      .user--profile-picture {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: lightgray 50% / cover no-repeat;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      }
      .user--profile-modify {
        position: absolute;
        left: 52px;
        top: 52px;
        padding: 2px;
        width: 14px;
        height: 14px;
        border-radius: 50px;
        box-sizing: content-box;
        background: var(--background, #fff);
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
      }
    }
    & figcaption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;
      padding-top: 9px;
    }
    & figcaption > p {
      color: var(--Contents-contentPrimary, #000);
      font-family: Pretendard;
      font-size: var(--font-l);
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      & span {
        margin-left: 6px;
        border-radius: 50px;
        padding: 3px 4px;
        font-size: var(--font-s);
        font-style: normal;
        font-weight: 400;
        border: 0.7px solid var(--secondary, #5a85ee);
      }
    }
    .user--answer {
      font-size: var(--font-s);
      font-weight: 400;

      color: var(--Contents-contentSecondary);
    }
  }

  & ul {
    display: flex;
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: flex-end;
    gap: 62px;

    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
      & span {
        margin-top: 9px;
        font-size: var(--font-s);
        font-weight: 600;
      }
    }
    & img {
      width: 26px;
      height: 26px;
    }
  }
}

/* 열정온도 */
.user--profile-temperture {
  padding: 12px;
  display: flex;
  flex-direction: column;

  & label > a {
    font-size: 12px;
    font-weight: 400;

    & img {
      width: 14px;
    }
  }
  & progress {
    appearance: none;
    width: 100%;
  }
  & progress::-webkit-progress-bar {
    background-color: var(--Contents-contentSecondary);
    border-radius: 10px;
    height: 8.26px;
  }
  & progress::-webkit-progress-value {
    border-radius: 10px;
    background-color: var(--primary);
  }
  .user--temperature-progressbar-wrapper {
    position: relative;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & span {
      bottom: 30px;
      position: absolute;
    }

    .user--default-temperture {
      display: flex;
      left: calc(36% - 33px);
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: var(--font-s);
      font-style: normal;
      line-height: 160%;
      font-weight: 400;
      & img {
        width: 10.8px;
        height: 6px;
      }
    }
    .user--temperture {
      right: 0;
      color: var(--secondary);
      font-size: var(----font-m);
      font-style: normal;
      line-height: 150%;
    }
  }
}

/* 좋아요, 응답률 */

.user--profile-percents {
  padding: 0 20px 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  & img {
    width: 16px;
  }
  .user--profile-percent {
    display: flex;
    align-items: flex-start;
    gap: 5px;
  }
  .user--profile-evaluation {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    & p,
    & span {
      font-size: var(--font-s);
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
    & p > span {
      font-weight: 600;
    }
    & span:nth-child(2) {
      color: var(--Contents-contentSecondary, #919191);
      font-size: var(--font-s);
      max-width: 120px;
    }
  }
}

/* 프로필 컨텐츠 ( 배지, 상품, 매너평가, 거래후기) */
.user--profile-contents {
  & li,
  .user--profcile-content {
    display: flex;
    padding: 16px 18px;
    justify-content: space-between;
    height: 53px;
    align-items: center;
    border-bottom: 0.3px solid var(--Contents-contentSecondary);
    & button {
      background-color: transparent;
      border: none;
      & img {
        width: 16px;
      }
    }
    & button:focus-visible {
      outline: none;
      border: 4px solid orange;
      border-radius: 0.25em;
    }
  }
  /* 더보기 버튼 */
  .user--profile-more-button.is-active {
    transform: rotate(0.25turn);
  }
  .user--profile-manner.is-active {
    border: none;
  }
  /* 매너평가 */
  .user--profile-manner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 11.5px;
    padding: 14px 10px;
    border-bottom: 0.3px solid var(--Contents-contentSecondary);
    .user--profile-manner-detail {
      display: flex;
      align-items: center;
      & img {
        width: 16px;
      }
      & span {
        margin-left: 5px;
        margin-right: 16px;
      }
      & p {
        padding: 8px;
        background-color: #5a85ee;
        border-radius: 0px 8px 8px 8px;
      }
    }
  }

  /* 뱃지  */
  .user--profile-badge.is-active {
    border: none;
  }
  .user--profile-badge-button.is-active {
    transform: rotate(0.25turn);
  }
  .user--profile-badge-detail.is-active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    text-align: center;
    padding: 14px 10px;
    border-bottom: 0.3px solid var(--Contents-contentSecondary);
    width: 100%;
    height: 100%;
    & img {
      width: 35%;
    }
    & p:nth-child(1) {
      font-size: var(--font-m);
    }
    & p:nth-child(2) {
      text-align: left;
      font-size: var(--font-s);
    }
  }
}

/* 하단 기본 메뉴 */
.user--contents {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px 12px 87px 18px;
  gap: 18px;
  font-size: var(--font-m);
  font-style: normal;
  font-weight: 400;

  & li {
    display: flex;
    justify-content: space-between;
  }
  .user--logout-nickname {
    color: var(--secondary);
  }
  & button {
    background-color: transparent;
    border: none;
    font-size: var(--font-m);
    padding: 0;
  }
  & button:focus-visible {
    outline: none;
    border: 4px solid orange;
    border-radius: 0.25em;
  }
}
